<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <configSections>
    <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
      <section name="Générateur_de_mot_de_passe.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
    </sectionGroup>
  </configSections>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
  </startup>
  <userSettings>
    <Générateur_de_mot_de_passe.Properties.Settings>
      <setting name="Majuscule" serializeAs="String">
        <value>True</value>
      </setting>
      <setting name="Lettre" serializeAs="String">
        <value>True</value>
      </setting>
      <setting name="Chiffre" serializeAs="String">
        <value>True</value>
      </setting>
      <setting name="CharSpecial" serializeAs="String">
        <value>True</value>
      </setting>
      <setting name="Length" serializeAs="String">
        <value>16</value>
      </setting>
      <setting name="CharBanned" serializeAs="String">
        <value />
      </setting>
      <setting name="Accent" serializeAs="String">
        <value>True</value>
      </setting>
    </Générateur_de_mot_de_passe.Properties.Settings>
  </userSettings>
</configuration>